__pycache__
.venv/
venv/
.venv-*/
.vscode
.DS_Store
notebooks
.*.swp
.*.swo
*.pyc
*.so
*.txt
build
/dist
/extra
*.egg-info
/env
pandecode.dump
recognize*
*.prof
extra/weights
wandb
model.safetensors
weights
*.lprof
comgr_*
*.pkl
*.log
target